@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1e21;
  color: #fff;
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.react-datepicker__input-container svg {
  fill: #fff;
  left: -5px;
  top: 5px;
}
